/**
 * Set variables used in the media library view.
 * From claro/css/base/variables.css.
 */
.media-library-wrapper {
  --input-border-size: 1px; /* (1/16)em ~ 1px */

  /*
  * Common.
  */
  --base-border-radius: 2px;
  --focus-border-size: 0.1875rem;
  --focus-border-offset-size: 2px;
  --outline-size: 2px;
  --focus-outline: var(--outline-size) dotted transparent;
  --focus-box-shadow: 0 0 0 var(--focus-border-offset-size) #fff, 0 0 0 calc(var(--focus-border-size) + var(--focus-border-offset-size)) #75767b;

  /*
  * Details.
  */
  --details-border-color: #dedfe4;
  --details-summary-shadow-color: #75767b;
  --details-summary-focus-border-size: var(--focus-border-size);
  --details-desktop-wrapper-padding-start: calc(var(--space-m) + var(--space-s) + var(--space-xs));
  --details-box-shadow: 0 2px 0.25rem rgba(0, 0, 0, 0.1);
  --details-border-size: 1px;
  --details-border-size-radius: 2px;
  --details-accordion-border-size-radius: var(--base-border-radius);
  --details-spread-box-shadow-radius: 2px;
  --details-bg-color-transition-duration: 0.12s;
  --details-box-shadow-transition-duration: 0.2s;
  --details-transform-transition-duration: 0.12s;
  --details-line-height: 1.295rem;

  /**
  * Spaces.
  */
  --space-xl: 3rem; /* 3 * 16px = 48px */
  --space-l: 1.5rem; /* 1.5 * 16px = 24px */
  --space-m: 1rem; /* 1 * 16px = 16px */
  --space-s: 0.75rem; /* 0.75 * 16px = 12px */
  --space-xs: 0.5rem; /* 0.5 * 16px = 8px */

  /**
  * Vertical Tabs.
  *
  * These are shared between the vertical tabs and media library.
  * @see ../components/vertical-tabs.pcss.css
  * @see ../theme/media-library.pcss.css
  */
  --vertical-tabs-margin-vertical: var(--space-s);
  --vertical-tabs-border-radius: var(--details-accordion-border-size-radius);
  --vertical-tabs-shadow: var(--details-box-shadow);
  --vertical-tabs-border-color: var(--details-border-color);
  --vertical-tabs-border-size: 1px;
  --vertical-tabs-border: var(--vertical-tabs-border-size) solid var(--vertical-tabs-border-color);
  --vertical-tabs-menu-item-shadow-extraspace: 0.5rem;
  --vertical-tabs-menu-item--top-margin: calc(var(--vertical-tabs-menu-item-shadow-extraspace) * -2);
  --vertical-tabs-menu-item--right-margin: calc(var(--vertical-tabs-border-size) * -1);
  --vertical-tabs-menu-item--bottom-margin: calc(var(--vertical-tabs-menu-item-shadow-extraspace) * -1);
  --vertical-tabs-menu-item--left-margin: calc(var(--vertical-tabs-menu-item-shadow-extraspace) * -1);
  --vertical-tabs-menu-separator-color: #d3d4d9;
  --vertical-tabs-menu-separator-size: 1px;
  --vertical-tabs-menu-width: 20em;
  --vertical-tabs-pane-width: calc(100% - var(--vertical-tabs-menu-width));
  --vertical-tabs-menu-link-focus-border-size: var(--details-summary-focus-border-size);
  --vertical-tabs-menu-link--active-border-size: 0.25rem;
  --vertical-tabs-menu-link--active-border-color: #55565b;
  --vertical-tabs-menu--z-index: 0;
}

/* Tweak the display of the actions button so it lines up correctly with the rest of the form items. */
.media-library-view--form-actions {
  align-self: last baseline;
}
.media-library-view--form-actions input {
  margin-block: 0;
}

/**
 * Some themes set box-sizing to border-box on all box elements.
 * This causes contents to overflow the media item container.
 */
.media-library-item--grid::before {
  box-sizing: content-box;
}

/* Ensure the thumbnail is displayed inline. Fixes centering issues. */
.media-library-item--grid .field--name-thumbnail img {
  display: inline-block;
}

/* Fix horizontal scrollbar in modal dialog. */
.ui-dialog-content .media-library-wrapper {
  margin: 0;
}
